*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaSoundAPI_Tutorial3/nbproject/private/
/SoundTutorialPart2/nbproject/private/
/ENSE479SoundArtProject/build/
/ENSE479SoundArtProject/nbproject/private/
/ENSE479Project/nbproject/private/
/JavaSoundAPI_Tutorial3/build/
/ENSE479Project/build/
/ENSE479Project/dist/